<div>
  <h1>Scrabble Time</h1>

  <form action="/practice">
    <input class="btn" type="submit" value="Practice?">
  </form>

  </br>

  <form action="/two_player">
    <input class="btn" type="submit" value="Two Player">
  </form>
</div>
