<form action='/score'>
  <div class="form-group">
    <label for "name">Hi, what's your name?</label>
    <input id="name" name="name" class="form-control" type="text" text="Is that you Bob?">
  </div>
  <div class="form-group">
    <label for="word">What's your Scrabble word?</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn">Let's play!</button>
</form>
